@import "tailwindcss";

@theme {
  --color-brand: #d27d60;
  --color-brand-light: #ebd8ce;
  --color-brand-lightest: #f3e6e1;
  --color-bg: #fef5f0;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-courier);
}

:root {
  --background: #fef5f0;
  --foreground: #1b1b24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b24;
    --foreground: #fef5f0;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
